{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>

<h2>Commentaires</h2>

{% for existingComment in existingComments %}
<dl class="row bg-secondary">
  <dt class="col-sm-3">Auteur :</dt>
  <dd class="col-sm-9">{{ existingComment.author.email }}</dd>

  <dt class="col-sm-3">Commentaire</dt>
  <dd class="col-sm-9">
    <p>{{ existingComment.comment }}</p>
  </dd>
  <dt class="col-sm-3">Note</dt>
  <dd class="col-sm-9">{{ existingComment.rate }}/5</dd>
</dl>
{% endfor %}

 {# Ajouter un commentaire #}

 {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <h5>Ajouter un commentaire</h5>
    {{ include ('episode/_comment_form.html.twig') }}
{% endif %}

    <a href="{{ path('app_episode_index') }}">back to list</a>

    <a href="{{ path('app_episode_edit', {'id': episode.id}) }}">edit</a>

    {{ include('episode/_delete_form.html.twig') }}
{% endblock %}
